SoundSeen/
node_modules/
package.json
package-lock.json

soundseen-backend/venv/
soundseen-backend/__pycache__/
soundseen-backend/**/__pycache__/
soundseen-backend/*.pyc
soundseen-backend/.env
soundseen-backend/.env.*
soundseen-backend/test.mp3
soundseen-backend/*.wav
soundseen-backend/*.mp3
soundseen-backend/*.m4a

.git/
.gitignore
.DS_Store
.vscode/
.idea/
